.goBackLink {
   padding: 8px;
}

.goBackIcon {
   margin-right: 8px;
}

.title {
   margin-top: 1em;
}

.buttonGroup {
   opacity: 0.6;
   transition: opacity ease-in-out 0.2s;

   &:hover {
      opacity: 1;
   }
}

.ant-table-cell {
   background-color: black !important;
   * {
      opacity: 1 !important;
   }
}

.img {
   max-width: 250px;
   border-radius: 4px;
   margin-right: 25px;
   margin-top: 16px;
}

.collectionInfo {
   margin-bottom: 12px;
}
